Data science from scratch/data-science-from-scratch/
 Data science from scratch/scratch/
 Python for data analysis/datasets/baby_names/StateNames.csv
 Python for data analysis/datasets/baby_names/database.sqlite